@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright&display=swap");

.DictionarySearch section {
  background: #cce3de;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px 0;
}
.DictionarySearch h3 {
  margin: 20px 0 30px 0;
}
.DictionarySearch input {
  border-radius: 6px;
  padding: 6px 10px;
  color: #333;
  border: 1px solid #ddd;
  font-family: "Cormorant Upright", serif;
  font-size: 18px;
  min-width: 100%;
}
.DictionarySearch .hint {
  font-size: 18px;
  margin-top: 20px;
}
